$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body{
  background-color: purple;

  .wrapper{
    background-color: blue;
  }

  .mediator{
    background-color: orange;
  }

  .row.panel-container{
    &{
      overflow: hidden;
    }
    #left-panel,#grid-panel{
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }
  }

  #left-panel{
    color: white;
    &{
      padding: 0;
      border-right: solid 1px white;
    }
    .new-item h2{
      margin: 0;
      padding: 0.5em;
      cursor: grab;
    }
  }

  .grid-line-container{
    color: white;
    &.dragging{
      border-bottom: dashed 1px rgba(255, 255, 255, 0.40);
    }
    .grid-element-container{
      padding-bottom: 16.666%;
      position: relative;
      &{
        padding-left: 0;
        padding-right: 0;
      }
      &.dragging{
        border-right: dashed 1px rgba(255, 255, 255, 0.40);
      }
      .content{
        padding: 1em;
        position: absolute !important;
        width: 100%;
        height: 100%;
        font-weight: bold;

        &.have-item{
          //cursor: grab;
          //z-index: 100;
        }
        &.have-item:hover{
          box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.40);
        }
      }

      .free-left,.free-right,.free-top,.free-bottom{
        border-width: 3px;
      }
      .free-left{
        border-left: solid;
      }
      .free-right{
        border-right: solid;
      }
      .free-top{
        border-top: solid;
      }
      .free-bottom{
        border-bottom: solid;
      }
      .valid-group{
        border-color: white;
      }
      .invalid-group{
        border-color: red;
      }
      .group-activated{
        border-color: green;
      }

      .btn{
        position: absolute;
        bottom: 0;
      }

      .btn-edit{
        right: 0;
      }
      .btn-delete{
        right: 40px;
      }
      .btn-active{
        right: 80px;
      }
    }
  }
  .ui-draggable{
    cursor: grab;
    &.ui-draggable-dragging{
      cursor: grabbing !important;
    }
  }
}
